.products-page{
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
}

/** PRODUCTS **/

.products-page .products {
    width: 100%;
    height: auto;
    display: flex;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
}

.products-page .products .avatar-big-box{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page .products .avatar-big-box .top-text{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
    font-family: 'Roboto Serif';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    color: #000;
}
.products-page .products .avatar-big-box .search{
   position: absolute;
   margin-top: 48px;
   width: 300px;
   right: 20px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: normal;
   border-radius: 100px;
   
}
.products-page .products .avatar-big-box .search .search-part {
    position: relative;
    width: 40%;
    height: 31px;
    margin-right: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #343434;
    background-size: cover;
    border-radius: 50px;


}
.products-page .products  .dishes-filter-box{
    position: absolute;
    right: 10%;
    width: 300px;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.products-page .products .list-category-section .product-wrapper{
    position: relative;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 130px;
    gap: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.products-page .products .list-category-section .product-wrapper .product-card{
    position: relative;
    width: 220px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.products-page .products .shop-btn{
    position: absolute;
    top: 180px;
    padding: 5px;
    min-width: 40px;
    width: 60px;
    height: 46px;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgb(198 0 225  / 66%);
    border-radius: 10px;
    border: 2px solid #d7b686;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;

}


.products-page .products .product-img:hover  .shop-btn{
    opacity: 1;
}
.products-page .products .product-img:hover  .view-btn{
    opacity:1;
}

.products-page .products .view-btn{
    position: absolute;
    top: 185px;
    padding: 5px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

}

.products-page .products .product-wrapper .product-card .product-img{
    width: 220px;
    height: 210px;
    background-size: cover;
    opacity: 1.0;
    transition: opacity 0.5s ease;
    border-top-right-radius: 50px;
    
}
.products-page .products .product-wrapper .product-card .product-img:hover{
    opacity: 0.45;
    
    
}
.products-page .products .list-category-section{
  position: relative;
  height: 400px;
  margin-bottom: 50px;
}

.products-page .products .list-category-section .dishes-filter-box2{
    position: absolute;
    left: -500px;
    gap: 10px;
    width: 300px;
    height: auto;
    margin-top: 210px;
    transform: rotate(-90deg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.products-page .products .product-wrapper .product-card .product-img .product-sale{
    height: 30px;
    width: 60px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fa8806b5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: #f8f8ff;
}

.products .brands-logo{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 15px;
    color: #d7b586;
    background: black;
    
}

.products .brands-logo .brands-logo-collect{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}
.products .brands-logo .brands-logo-img{
    position: relative;
    width: 150px;
    height: 300px;
    height: auto;
    border: 2px solid rgb(129, 124, 124);
    border-radius: 10px;
    box-shadow:  0 0 10px;
    background: black;
    
}
.products .address{
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .address .title{
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 15px;
    color: #100e0e;
    
}

.products .addres-area{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
}

/** ChosenProduct **/

.products-page .chosen-product {
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .products-page .chosen-product .product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 150px;
  }
  
  .products-page .chosen-product .chosen-product-slider {
    width: 48%;
    height: 480px;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .products-page .chosen-product .chosen-product-slider .swiper-area {
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    width: 100%;
    height: 1020px;
  }
  
  .products-page
    .chosen-product
    .chosen-product-slider
    .swiper-area
    .slider-image {
    width: 100%;
    height: 100%;
  }
  
  .products-page .chosen-product .chosen-product-info {
    padding: 30px 40px;
    width: 49%;
    height: 480px;
    display: flex;
    background: #ffffff;
    box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
      inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  
  .products-page .chosen-product .chosen-product-info .info-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .products-page .chosen-product .info-box .product-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .resto-name {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #979797;
  }
  
  .products-page .chosen-product .info-box .rating-box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .star-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .products-page .chosen-product .rating-box .evaluation-box .product-view {
    display: flex;
    align-items: center;
  }
  
  .products-page .chosen-product .info-box .product-desc {
    height: 112px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .info-box .product-price {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .products-page .chosen-product .product-price span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    color: #000000;
  }
  
  .products-page .chosen-product .button-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .products-page .chosen-product .button-box button {
    width: 230px;
    height: 44px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #f8f8ff;
  }
  
  .products-page .chosen-product .title {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
  }
  

